<% include partials/header.ejs %>

    
        <h1><%= title %></h1>

        
          <div class="container">
                <div class="row">
                  
                  <div class="col-md-6">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Гарчиг</th>
                            <th scope="col">Нийтлэгч</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% article.forEach(function(a){ %>
                                <tr>
                                    <td><a href="/article/<%=a.id %>"> <%=a.title %></a></td>
                                    <td><a href="/article/<%=a.id %>"> <%=a.auther %></a></td>
                                </tr>
                            <% }); %>
                        
                        </tbody>
                    </table>
                  </div>
                  <div class="col-md-3">
                    
                  </div>
                </div>
              </div>


    
   
<% include partials/footer.ejs %>